<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transaction, starting with the ICO -->

<% 

transactions = Transaction.all

%>

<ol>
  <% for transact in transactions %>
    <li> 
    <% if(transact.from_user_id) %>
            <%= transact.amount %>KC from <%=transact.from_user.name%> to <%=transact.to_user.name%>
    <% elsif %>
            Initial coin offering: <%= transact.amount %>KC to <%=transact.to_user.name%>
    <% end %>
    </li>
  <% end %>
</ol>

<!-- Step 2: Calculate and display the balances -->

<%  users = User.all  %>
Expected balances:
<ol>

  <% for user in users %>
    <li> 
    <%  bals1 = Transaction.where({to_user_id:user.id }).sum(:amount)
        bals2 = Transaction.where({from_user_id:user.id }).sum(:amount)
        bals = bals1 - bals2
      %>
    Balance for <%= user.name%> : <%=bals %> KC         
            
    </li>
  <% end %>
  
</ol>


<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->